exclude Makefile *.cfg *.in *.nix *.sh *.conf *.js *.json Procfile .jshintrc *-mxdev.txt .installed.txt instance.yaml pyproject.toml
graft src/collective
graft docs
include *.rst
global-exclude *.pyc
include *.txt
